<%= session[:user_id]%>
<a href="#" onclick= "hsp.composeMessage()"> Compose Message </a>
<a href="#" onclick= "attach('http://petapixel.com/assets/uploads/2015/03/critique.jpg', 'name', 'jpg');"> Attach</a>